.customTextArea {
  padding: 6px 6px;
  border: 1px solid #93A2B2;
  border-radius: 4px;
  font-size: 14px;
  transition: all 0.3s ease;
  width: 100%;
  background-color: white;
  resize: vertical;
  min-height: 120px;
  color: #777777;
  font-weight: bold;
}

.customTextArea:focus {
  outline: none;
  border-color: #93A2B2;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  background-color: white;
}

.customTextArea::placeholder {
  color: #93A2B2;
}