.donationPage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 50%;
  padding: 40px;
  margin-bottom: 50px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.modalContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.imageContainer {
  width: 40%;
}

.image {
  width: 100%;
  height: auto;
}

.information {
  width: 55%;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.donationForm {
  margin-top: 20px;
}

.donationAmounts {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
