.contactContainer {
  width: 40%;
  margin: 0 auto;
}

.contactTitle {
  margin-top: 30px;
  margin-bottom:30px;
}

.contactCard {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 30px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
}