.customButton {
  background-color: #44b4cc;
  border: 1px solid #93A2B2;
  color: #fff;
  border-radius: 4px;
  padding: 4px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  font-weight: bold;

  &:hover {
    border-color: #44b4cc;
    color: #44b4cc;
    background-color: #f9f9f9;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(100, 100, 100, 0.3);
  }
}
