.customButton {
  background-color: #ffff;
  border: 1px solid black;
  color: black;
  border-radius: 20px;
  padding: 10px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  font-weight: bold;

  &:hover {
    border-color: white;
    color: white;
    background-color: black;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(100, 100, 100, 0.3);
  }
}
